@import "../utilities/variables";
@import "../utilities/mixin";

/*-----INDEX-----*/


/* principal + infoIndex */
.principal{
    padding: 1rem 0rem 1.25rem;
    text-align: center;
    align-items: center; 
    width: 100%;
    min-height: calc(100vh - 86px - 50px);
    background-image: url('../img/bg/bgIndex.jpg');
    @include background;
}
.infoIndex{
    @include h1;
}
/* Invitación y botón de contacto */
.invitacion{
    padding-bottom: 2rem;
    h2{
        font-family:$font;
        font-size: $tepresu;
        font-weight: $font-weight;
        color: $color-principal;
        text-shadow: $text-shadow;
        padding: 2rem;
    }
    p{
        margin: 1rem;
    }
}

.btn-contacto{
    font-family:$font;
    font-size: $tepresu;
    font-weight: bold;
    background-color: transparent;
    background-image: $boton-bg-img;
    color: $color-principal;
    padding: 0.8rem 3.2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    text-shadow: $text-shadow;
    &:hover{
        color: #dcdcdc;
    }
}
 /* galeria de trabajos  */
.trabajosGaleria{
    display: none;
}

/*-----FIN GRID-MAIN-INDEX-----*/