@import "../utilities/variables";

/*-----PRESUPUESTO-----*/
.bodyPresu{
background-image: linear-gradient(to right, #134E5E,#71B280);
}
/* Formulario */ 
.formu{
    width: 100%;
    padding: 2rem 6rem 2rem 6rem;
    min-height: calc(100vh - 86px - 80px);
    background-color: transparent;
    background-image: linear-gradient(to right, #134E5E,#71B280);
    color: $color-principal;
    .btn-enviar{
        font-size: 1.1rem;
        font-weight: bold ;
        color: $color-verdecito;
        text-shadow: $text-shadow;
    }
}
form{
    font-size: $parrafo;
}
/*-----FIN PRESUPUESTO-----*/