.mainSoli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-color: rgb(220, 214, 214);
}

.titleSoli{
text-transform: uppercase;
font-size: 1.8rem;
}

.parrafoSoli{
    font-size: 1.2rem;
}


